<mat-card class="promo-card">
  <mat-card-header>
    <mat-card-title>{{ promo.title }}</mat-card-title>
    <mat-card-subtitle>{{ promo.category }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>
      Active:
      <strong [ngClass]="{ active: promo.active, inactive: !promo.active }">
        {{ promo.active ? "Yes" : "No" }}
      </strong>
    </p>
    <p>Start: {{ promo.startDate | date }}</p>
    <p>End: {{ promo.endDate | date }}</p>
    <mat-slide-toggle [(ngModel)]="isChecked" (change)="optInToggle(promo)" id="toatBtn" [disabled]="!promo.active">
      {{ isChecked ? 'Subscribed' : 'Subcribe Now!'}}
    </mat-slide-toggle>
  </mat-card-content>
</mat-card>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="..." class="rounded me-2" alt="...">
      <strong class="me-auto">Bootstrap</strong>
      <small>11 mins ago</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Hello, world! This is a toast message.
    </div>
  </div>
</div>
