<mat-sidenav-container class="sidenav-container">
  <!-- Mobile Fullscreen Drawer -->
  <mat-sidenav #drawer mode="over" position="end" class="mobile-sidenav">
    <div class="mobile-menu">
      <button mat-button routerLink="/" (click)="drawer.close()">Home</button>
      <button mat-button (click)="toggleCategories()">
        Promo Types
        <mat-icon class="expand-icon">
          {{ showCategories ? "expand_less" : "expand_more" }}
        </mat-icon>
      </button>

      <div *ngIf="showCategories" class="sub-menu">
        <button mat-stroked-button *ngFor="let promoType of promoTypes" [routerLink]="['promo-types', promoType]" >{{ promoType }}</button>
      </div>

      <button
        mat-button
        routerLink="/subscribed-promotions"
        (click)="drawer.close()"
      >
        Subscribed Promotions
      </button>
    </div>

    <div class="mobile-social">
      <button mat-icon-button><mat-icon>facebook</mat-icon></button>
      <button mat-icon-button><mat-icon>twitter</mat-icon></button>
      <button mat-icon-button><mat-icon>linkedin</mat-icon></button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Top Toolbar -->
    <mat-toolbar color="primary" class="header-toolbar">
      <!-- Logo -->
      <span class="logo">Promo Dashboard</span>

      <!-- Desktop Nav -->
      <nav class="nav-links desktop-only">
        <button mat-button routerLink="/">Home</button>
        <button mat-button [matMenuTriggerFor]="categoriesMenu">
          Promo Types
        </button>
        <mat-menu #categoriesMenu="matMenu">
          <button mat-menu-item *ngFor="let promoType of promoTypes" [routerLink]="['promo-types', promoType]">
            {{ promoType }}
          </button>
        </mat-menu>
        <button mat-button routerLink="/subscribed-promotions">
          Subscribed Promotions
        </button>
      </nav>

      <span class="spacer"></span>

      <!-- Desktop Social -->
      <div class="social-icons desktop-only">
        <button mat-icon-button><mat-icon>facebook</mat-icon></button>
        <button mat-icon-button><mat-icon>instagram</mat-icon></button>
        <button mat-icon-button><mat-icon>linkedin</mat-icon></button>
      </div>

      <!-- Mobile Hamburger -->
      <button mat-icon-button class="mobile-only" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
