<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <h4>Promo Dashboard Angular</h4>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Home Link -->
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >HOME</a
          >
        </li>

        <!-- Promo Types Dropdown -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="promoTypesDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Promo Types
          </a>
          <ul class="dropdown-menu" aria-labelledby="promoTypesDropdown">
            <li *ngFor="let promoType of promoTypes">
              <a
                class="dropdown-item"
                [routerLink]="['/promo-types', promoType]"
                routerLinkActive="active"
                >{{ promoType }}</a
              >
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/subscribed-promotions"
            routerLinkActive="active"
            >Subscribed Promotions</a
          >
        </li>
      </ul>

      <div class="d-flex align-items-center" style="gap: 1rem">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-tiktok"></i></a>
      </div>
    </div>
  </div>
</nav>
